
.tasks{
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
}

.task-list:hover{
  background-color: var(--bg0);
}

.task-list{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: var(--gray1);
  color: var(--fg-color);
  min-width: 600px;
  margin: 2px auto;
  list-style: none;
  border-radius: 5px;
  transition: all 600ms;
}

.task-list h1{
  margin: 20px auto;
  font-size: 32px;
}

.tasks .edit{
  color: var(--purple);
}

.tasks .edit:hover{
  color:var(--purple-hover)
}

.tasks .delete{
  color: var(--red);
  margin-left: 10px;
  margin-right: 10px;

}

.tasks .delete:hover{
  color: var(--red-hover);
}
.tasks .edit, .tasks .delete{
  font-size: 24px;
}

.tasks .edit, .tasks .delete:hover{
  cursor: pointer;
  transition: all 600ms;
}
